.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%; /* To align side-by-side */
  }
  
  .submit-btn:hover {
    background-color: #444;
  }
  
  .home-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%; /* To align side-by-side */
  }
  
  .home-btn:hover {
    background-color: #444;
  }
  